body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

    background-color: rgb(252, 240, 255);
  
    margin-top: 40px;
    width:500px;
    height: 500px;
    padding-left: 30px;
    padding-right: 50px;
    border-radius: 20px;

  color: #fff;
}


#Esercizi {
  display: flex;
  gap: 10px;
}
#nuovo-esercizio {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

#Aggiungi {
  background: #6d6d6d;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

#esercizio-nuovo{
  list-style: none;
  padding: 0;
  margin-top: 20px;
}


  .task {
    background: white;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
 
.task.completed {
    text-decoration: line-through;
    opacity: 0.6;
}
 
.deleteButton {
    background: rgb(255, 0, 157);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}


